@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --text-blue: hsl(238, 29%, 16%);
    --arrow-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --text-verydarkblue: hsl(237, 12%, 33%);
    --text-darkblue: hsl(240, 6%, 50%);
    --divider: hsl(240, 5%, 91%);
    --ff: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(var(--gradient-violet), var(--gradient-blue));
    font-family: var(--ff);
    padding: 3rem;
}

.container {
    width: 900px;
    background-color: white;
    border-radius: 2rem;
    /* shadow at top for mobile */
    background-image: url(images/bg-pattern-mobile.svg);
    background-size: 15rem;
    background-repeat: no-repeat;
    background-position: top center;
}

h1 {
    /* FAQ position */
    margin-bottom: 1rem;
}

/* woman size for mobile */
.left img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: -5.5rem auto;
}

.cube {
    display: none;
}

/* for mobile, move questions below woman and add space for questions */
.right {
    margin-top: 8rem;
    padding: 2rem;
}

.accordion-item {
    border-bottom: 1px solid var(--divider);
    margin-top: 1rem;
}

/* button */
.accordion-question {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    /* question and arrow on same line, take up full width */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* arrow */
.accordion-question::after {
    content: '';
    background-image: url('images/icon-arrow-down.svg');
    display: block;
    /* need to set size of arrow */
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    /* transition needs to be on question after each open/close toggle */
    transition: transform 0.3s ease-in-out;
}

/* show answer */
.accordion-question.open {
    font-weight: 700;
}

.accordion-question.open::after {
    transform: rotate(180deg);
}

.accordion-content {
    font-size: 0.75rem;
    line-height: 1.4;
    padding-bottom: 1rem;
}

.accordion-collapse {
    transition: height 0.3s ease;
}

/* hide answer */
.accordion-collapse.collapse {
    display: none;
}

/* make the content open/close smoother */
.accordion-collapse.collapsing {
    height: 0;
    overflow: hidden;
}

.accordion-collapse.open {
    display: block;
}

/* desktop */
@media (min-width: 1000px) {
    .container {
        /* height stretches fits content inside */
        height: auto;
        display: flex;
        /* shadow image sizing and position */
        background-image: url('images/bg-pattern-desktop.svg');
        background-size: 45%;
        background-position: -13% center;
        position: relative;
    }
    /* 50% each */
    .left, .right {
        flex: 1;
    }
    /* center woman and cut off woman */
    .left {
        display: flex;
        align-items: center;
        padding-right: 2rem;
        overflow: hidden;
    }
    /* only max size of 400px for woman, move to left */
    .left img {
        transform: translateX(-4rem);
        max-width: 400px;
    }
    /* position cube to left, center, show above card and woman */
    .cube {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-50%) translateY(-30%);
        z-index: 1;
    }
    /* spacing for questions */
    .right {
        margin: 0;
        padding: 2rem;
    }
}

