:root {
    /* text */
    --Very-dark-desaturated-blue-h1: hsl(238, 29%, 16%);
    --Soft-red-arrow: hsl(14, 88%, 65%);
    /* bg */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /* text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* divider */
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --ff: 'Kumbh Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(45deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}
main {
    /* why is max-width so small? when to use width vs max-width? */
    width: 1200px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.4);
    background-color: white;
    /* grid or flex? */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* there has to be a better way to position images, stack images, position the background image */
.left {
    background: url(images/bg-pattern-desktop.svg);
    background-position: -550px -220px;
    background-repeat: no-repeat;
    position: relative;
    /* cut off left part of woman! success! */
    overflow: hidden;
}
.woman {
    position: absolute;
    bottom: 100px;
    left: -50px;
    z-index: 1;
}
/* now how to get cube to show? */
.cube {
    position: absolute;
    bottom: 150px;
    left: -100px;
    z-index: 2;
}

.question-container {
    display: grid;
    place-items: left;
    gap: 1rem;
    padding: 1rem;
    margin-top: 4rem;
}
.question-container h1 {
    font-size: 2rem;
    font-family: var(--ff);
    margin-bottom: 2rem;
}
.question {
    font-size: 1rem;
    font-family: var(--ff);
    color: var(--Very-dark-desaturated-blue-h1);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question:hover {
    color: var(--Soft-red-arrow);
}
.answer {
    width: 80%;
    font-size: 1rem;
    font-family: var(--ff);
    color: var(--Very-dark-grayish-blue);
}
.divider {
    border-bottom: solid 1px var(--Light-grayish-blue);
    width: 80%;
}
.hidden {
    display: none;
}
.active {
    font-weight: 900;
}

/* media queries */
@media screen and (max-width: 1320px) {
    main {
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width: 650px) {
    /* main is originally grid so we have to turn into flex for column*/
    main {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    .left {
        height: 20%;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* this image position is incorrect */
    .woman {
        width: 100%;
    }
    .question-container h1 {
        text-align: center;
    }
    .question-container {
        height: 80%;
        place-items: center;
    }
}
@media screen and (max-width: 375px) {
    p {
        font-size: 0.8rem;
    }
    .question-container h1 {
        font-size: 1.5rem;
    }
    .answer {
        font-size: 0.8rem;
    }
}